
h2
{
    color: rgb(255, 0, 0);
    font-weight: bold;
}
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
    color:blue;
    font-weight: bold;
  }
  
  td {
    border: 1px solid #dddddd;
    padding: 8px;
    color:crimson;
    font-weight: bolder;
  }
  
 
  tr:hover {
    background-color: #f5f5f5;
  }
  